@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
section {
	padding: 7em 0;
}
h1,
h2,
h3,
p {
	margin: 0;
}
.split {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.split > * {
	flex-basis: 30%;
	min-width: 15em;
}
.spacing > * + * {
	margin-top: var(--space, 2rem);
}
.container {
	width: 85%;
	max-width: 65em;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	text-decoration: none;

	padding: 0.5em 1.25em;
	background-color: var(--clr-accent, blue);
	color: var(--clr-text, white);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.12em;
	border-radius: 0.25em;
	transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
	transform: scale(1.1);
	opacity: 0.7;
}

.primary-title {
	font-size: 4rem;
	font-size: clamp(3rem, calc(5vw+1rem), 4.5rem);
	line-height: 1;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-weight: 700;
}

.hero {
	text-align: center;
	color: white;
	padding: 15em 0;
	background: #222;
}

.section-title {
	text-align: center;
	font-size: clamp(2.5rem, calc(5vw+1), 4rem);
	line-height: 1;
	color: #17353d;
	margin-bottom: 5rem;
}

@supports (background-blend-mode: multiply) {
	.hero {
		background: url('./img/shoe-3.png'),
			radial-gradient(rgb(87, 85, 85), rgb(65, 61, 61));
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.featured {
	background: #eee;
}

.featured_item {
	display: block;
	position: relative;
	text-decoration: none;
	color: #333;
	text-align: center;

	line-height: 1.2;
	transform: scale(0.85);
	transition: transform 250ms ease-in-out;
}
.featured_details {
	opacity: 0;
	transition: opacity 250ms linear;
}

.featured_details span {
	display: block;
	font-weight: 700;
	font-size: 2rem;
	margin-top: 1.5rem;
}

.featured_item:hover,
.featured_item:focus {
	transform: scale(1);
}
.featured_item:hover .featured_details,
.featured_item:focus .featured_details {
	opacity: 1;
}
.featured_item::after {
	content: '';
	position: absolute;
	top: 10%;
	left: 10%;
	padding: 75% 75% 0 0;
	background-color: #2193b0;
	border-radius: 50%;
	z-index: -1;
}

.product {
	background: radial-gradient(
		var(--clr-inner, limegreen),
		var(--clr-outer, purple)
	);
	text-align: center;
	padding: 3em;
	border-radius: 1em;
	margin-bottom: 5em;
}

.product_title {
	font-size: clamp(3rem, calc(5vw+1), 5.5rem);
	line-height: 1.1;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.hero {
	--clr-accent: #faa700;
}

.shoe-blue {
	--clr-inner: red;
	--clr-outer: orange;
	--clr-accent: #a1173c;
}

.shoe-red {
	--clr-inner: #fce4b3;
	--clr-outer: #eac886;
	--clr-accent: #2f4858;
}

.shoe-green {
	--clr-inner: #6dd5ed;
	--clr-outer: #2193b0;
	--clr-accent: #008951;
}

.product .product_image {
	margin: -5em 0 0 0;
}

@media (min-width: 720px) {
	.product_image {
		float: right;
		width: 60%;
		shape-outside: url('./img/shoe-1.png');
		shape-margin: 1em;
		margin: 0 -5em 0 0;
	}
	.product {
		text-align: left;
		margin-bottom: 9em;
	}
} ;
